---
import Layouts from "../layouts/Layouts.astro"

---

<Layouts title="Init">
	<div class="flex justify-center items-center">
		<h1 class="font-extrabold text-[80px] text-cyan-300">Astro</h1>
	</div>
</Layouts>